Source: config-backup
Section: unknown
Priority: optional
Maintainer: Scott Ellis <wherami@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/config-backup
#Vcs-Git: https://github.com/scottongithub/config-backup.git

Package: config-backup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rdiff-backup
Description: Bash script that backs up config files from various locations
 Bash script that copies specified files/directories to a specified destination, copying directory structure relative to a specified directory. It was created with the intention of sending individual application configurations, in their not-so-standardized locations, to a backup/exports directory.
